<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/img/Lenovo_logo.png" style="height:25px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav navbar-right">
      
      <li class="nav-item">
        <a class="nav-link" href="/issues">Issue List</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="/update">Dashboard</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/planning">Planning Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/signup">Sign Up</a>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
        <div
      </li>
           <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/team">Team</a>
      </li>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/charts">Charts</a>
      </li>
       </li>
           <li class="nav-item">
        <a class="nav-link" href="/charts/update">Charts Update</a>
      </li>
       </li>
           <li class="nav-item">
        <a class="nav-link" href="/bfdata">Black Friday</a>
      </li>
     
    </ul>
  </div>
</nav>